.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}

.button {
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: 	rgb(0,128,0);
    
}

.button:hover {
    background-color: rgba(0, 128, 0, 0.674);
}

.button .link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}